<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" /> 
	</settings>
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="jdbc"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="org.hsqldb.jdbc.JDBCDriver"/>
				
				<property name="url" value="jdbc:hsqldb:hsql://localhost:9001/eps"/>
				
				<!-- 
				<property name="url" value="jdbc:hsqldb:file:data/shell-hr;ifexists=true"/>
				 -->
				<property name="username" value="SA"/>
				<property name="password" value=""/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="sqlmapper/SysAdminDao.xml"/>
	</mappers>
</configuration>
